/**------------------------------------------------------------------------
 * ?                                ABOUT
 * @author         :  ElricGUMBAU
 * @email          :  elric.gumbau@ynov.com 
 * @description    :  Classes CSS
 *------------------------------------------------------------------------**/

/***** Variables *****/

:root {
  --background-color: #f7f8fa;
  --text-color: #303241;
  --primary-color: #fdbe0c;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Nunito', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: var(--text-color);
  background-color: var(--background-color);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

input::placeholder {
  color: var(--text-color);
  opacity: 1; /* Firefox */
}

/***** Font *****/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

/***** FLEXBOX *****/

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-flow: row wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

/***** SEARCH *****/

.search-bar .vs__dropdown-toggle {
  border-radius: 20px;
}

.search-bar .vs__search::placeholder,
.search-bar .vs__dropdown-toggle,
.search-bar .vs__dropdown-menu {
  min-width: 170px;
  border: none;
  text-transform: lowercase;
  font-variant: small-caps;
  color: var(--text-color);
  background: #fff;
}

.search-bar .vs__clear,
.search-bar .vs__open-indicator {
  fill: var(--text-color);
}
